# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Section_02.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\wakaztahir\source\repos\Section_02\.idea\.idea.Section_02\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
